{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }} - Create a new Application
{% endblock %}

{% block body %}
    <section class="page-section" id="create-application">
        <div class="container">
            <h2 style="text-align: center; padding-top: 10%">Create new Application</h2>
        </div>
    </section>
    {{ form(form) }}
{% endblock %}