<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="My Personal Agenda, Handle better job applications">
    <title>{% block title %}My Personal Agenda{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}


{% block header %}


{% endblock %}

{% block body %}

{% endblock %}


{% block footer %}

{% endblock %}
</body>
</html>